.contain-all-storesResult{
  display: block;
  width: 65%;
  height: auto;
  margin: 20px auto;
  text-align: center;
}

.blube-effect{
  display: inline-block;
  width: 200px;
  height: 200px;
  margin: 10px auto;
  background: white;
  border-radius: 50%;
  text-align: center;
  padding: 13px;
}

.blube-effect p {
  margin: 10px auto;
}

.blube-effect p a{
  color: #13A2D1;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
}

.inside-logo{
  display: block;
}

.inside-logo img{
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 1px solid silver;
}

/************Page numbers************/
.pages{
  display: block;
  text-align: center;
  margin: 20px;
}

.pages a{
  text-decoration: none;
  background: white;
  border: 1px solid silver;
  font-size: 20px;
  margin: 3px;
}
